.dbr-modal {
  position: fixed;
  left: 50%;
  top: 50px;
  max-width: 80%;
  transform: translateX(-50%);
  z-index: 999999;
  background: #fff;
  padding: 20px;
  border: thick double black;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}

.dbr-results {
  overflow: auto;
  max-height: 250px;
}

.dbr-results li {
  list-style: decimal;
  white-space: nowrap;
}

